{
  "mcpServers": {
    "babayaga-qe": {
      "command": "pnpm",
      "args": [
        "run",
        "start"
      ],
      "directory": "/path/to/babayaga/babayaga-qe"
    },
    "babayaga-honeypot": {
      "command": "pnpm",
      "args": [
        "run",
        "start"
      ],
      "directory": "/path/to/babayaga/babayaga-honeypot"
    }
  }
}